

.DivPopupContent {width:100%;border:solid 1px #C0C0C0;background-color:#F5F4ED;vertical-align:top;overflow-x:hidden;overflow-y:auto;overflow:-moz-scrollbars-vertical;}

.Calendar {cursor:default;}
.NavigationButton {cursor:pointer;}
.CalendarDayStyle {cursor:pointer;}



