<?xml version="1.0" encoding="utf-8"?>
<root>
	<!-- DEVELOPMENT VERSION -->
	<!-- ENVIRONMENT PARAMETERS -->
	<ServiceName value="Manager WinCE" type="String" category="Environment" description="Windows Service's name. ONLY LATIN LETTERS AND SPACES ALLOWED!!!" />
	<LimitsMode value="1" type="Select" options="(1)[1]Simple Limits|(2)[2]Extended Limits|(3)[3]RFID|(4)[4]Credit Cards" category="Environment" description="Polytex limits mode" />
	<LimitByFavoriteItems value="False" type="Boolean" category="Environment" description="Limit users to be able to take only their favorite items" Advanced="True" />
	<IsDev value="True" type="Boolean" category="Environment" description="Run Polytex system in development mode" Advanced="True" />
	<ShowLogViewer value="True" type="Boolean" category="Environment" description="Display log viewer" />
	<DefaultUILanguage value="ENG" type="SelectSetting" selectsettingname="TagCultureMap" selectvalueattribute="TagName" selecttextattribute="TagName" category="Environment" description="Polytex system interface language" />
	<LogReadWriteLock value="False" type="Boolean" category="Environment" description="" Advanced="True" />
	<LogResponseDump value="False" type="Boolean" category="Environment" description="" />
	<EnablePolytexServerDebug value="False" type="Boolean" category="Environment" description="Setting obsolete" />
	<EnableWatcherLog value="False" type="Boolean" category="Environment" description="" />
	<EmailSendFilesSupport value="" type="String" category="Environment" description="Email address to send files from Log Files screen" Advanced="True" />
	<ControllersVersion value="1" type="Select" options="(1)[1]Versions 6.3-6.4|(2)[2]Version 6.5|(3)[3]Version 6.6" category="Environment" description="Stations' controllers version" />
	
	<!--TagCultureMap:			
		Defines CultureName to TAG name mapping and vise versa for translation XML file
		according to culture/languge names as defined at http://msdn2.microsoft.com/en-us/library/system.globalization.cultureinfo.aspx
		TAG - is the language tag used in translation XML file -->
	<TagCultureMap category="Environment" description="Supported cultures and languages" allowremove="false" displaynameattribute="TagName">
		<Culture TagName="HEB" CultureName="he-IL" />
		<Culture TagName="FR" CultureName="fr-FR" />
		<Culture TagName="IT" CultureName="it-IT" />
		<Culture TagName="ENG" CultureName="en-US" />
		<Culture TagName="ESES" CultureName="es-ES" />
		<Culture TagName="ENUK" CultureName="en-GB" />
		<Culture TagName="DAN" CultureName="da-DK" />
		<Culture TagName="DEDE" CultureName="de-DE" />
		<Culture TagName="CZ" CultureName="cs-CZ" />
		<Culture TagName="PL" CultureName="pl-PL" />
    <Culture TagName="NO" CultureName="nn-NO" />
	</TagCultureMap>
	
	<!-- PORTS PARAMETERS -->
	<PolytexHostPort value="2003" type="UInt" category="Ports" description="Polytex host server's TCP port" />
	<WebServerPort value="83" type="UInt" category="Ports" description="Polytex web manager server's port" />
	<PolytexFTPPort value="23" type="UInt" category="Ports" description="Polytex ftp server's port" />
	<StationsPort value="2000" type="UInt" category="Ports" description="Stations' listening port (do not change)" Advanced="True" />
	<TelnetPort value="23" type="UInt" category="Ports" description="Telnet communication port" Advanced="True" />
	<PolytexHostUdpPort value="30300" type="UInt" category="Ports" description="Polytex host server's UDP port" Advanced="True" />
	<StationsUdpPort value="30301" type="UInt" category="Ports" description="Stations' listening UDP port (do not change)" Advanced="True" />

	<!-- SERVER PARAMETERS -->
	<ServerId value="0" type="String" category="Server" description="Polytex unique id for installed server" />
	<Transactions value="Orders" type="Folder" category="Server" description="Folder to save transactions images" />
  <TransactionsParent value="" type="Folder" category="Server" description="'Transactions' setting parent folder. Leave empty unless advised otherwise by Polytex Team." Advanced="True" />
	<CleanLogFiles value="1" type="UInt" category="Server" description="Delete log files older then X days" />
	<MaxLinesInLogFile value="7500" type="Int" category="Server" description="Limits size of log files (for TraceTool Viewer). Set to -1 for unlimited" />
	<ImageCheckBrightness value="True" type="Boolean" category="Server" description="Check image brightness" Advanced="True" />
	<ImageMinimumBrightness value="0.25" type="Decimal" category="Server" description="A decimal value between 0 to 1 determining from which value of average pixel brightness an image is bright enough to be saved to disk. Use the dot character [.] as the decimal separator for value, ie '0.2'" />
	<ImageRenamingDeleteSleep value="3" type="UInt" category="Server" description="Sleep timespan in renaming order's image - between finding suitable image and deleting all other images [in seconds]" />
	<ImageRenamingIgnoreOlder value="15" type="UInt" category="Server" description="Ignore images older then x in getting and renaming order's image [in seconds]" />
	<ImageAlertFileSize value="20" type="UInt" category="Server" description="Initiate alert if image file size exceeds this value [in kilobytes]" Advanced="True" />
	<CleanOrdersImages value="1" type="UInt" category="Server" description="Delete order images older then X months" />
	<CheckStationsCommFrequency value="0" type="UInt" category="Server" description="Server communication checking frequency ONLY for stations which had no communication on last check [in minutes]. Set to 0 to disable communications checks" />
	<CheckAllStationsComm value="3" type="UInt" category="Server" description="Server communication checking for ALL stations every X times of checking" />
	<SendReports value="16:50" type="Time" category="Server" description="Time to send mailing lists reports. HH:mm format" />
	<LimitConnections value="False" type="Boolean" category="Server" description="Polytex Server limits the number of simultaneous stations connections. This allows a stable and gradual return to online communication with all stations. Designed for an environment with a large number of stations" Advanced="True" />
	<LimitConnectionsStart value="20" type="UInt" category="Server" description="The number of simultaneous stations connections over which to ignore further connection check requests by stations. Only in use when setting LimitConnections=True" Advanced="True" />
	<LimitConnectionsEnd value="10" type="UInt" category="Server" description="The number of simultaneous stations connections under which server starts again to respond to connection check requests by stations. Value should always be smaller than value of LimitConnectionsStart. Only in use when setting LimitConnections=True" Advanced="True" />
  <CreateUserForUnknownCard value="False" type="Boolean" category="Server" description="Create a new user when an unknown card with a valid format is swiped on station" Advanced="True" />
  <UnknownCardFavoriteItems value="" type="String" category="Server" description="Favorite Items IDs to assign to a new user created for an unknown card. Used only when CreateUserForUnknownCard is set to True" Advanced="True" />

  <!-- FTP SERVER PARAMETERS -->
	<FtpEnabled value="True" type="Boolean" category="FTP Server" description="Launch FTP server to accept images from IP cameras" />
	<FtpDelayedStart value="0" type="UInt" category="FTP Server" description="Delay FTP Server listening on Polytex Server start [in seconds]" Advanced="True" />
	<GetFTPFile value="" type="String" category="FTP Server" description="String that must exist in a file's name uploaded to the ftp folder (if value is empty then all files are saved to folder)" />
	<FtpCommandIdleTimeOut value="600000" type="UInt" category="FTP Server" description="Command idle timeout [in milliseconds]" />
	<FtpSessionIdleTimeOut value="600000" type="UInt" category="FTP Server" description="Session idle timeout [in milliseconds]" />
	<FtpLogCommands value="True" type="Boolean" category="FTP Server" description="Write FTP to log" />
	<FtpMaxBadCommands value="10" type="UInt" category="FTP Server" description="Maximum bad commands" />
	<FtpMaxThreads value="5000" type="UInt" category="FTP Server" description="Maximum threads" />
	
	<!-- DATABASE PARAMETERS -->
	<DataBaseFile value="C:\Polytex\Materia\7.0.0.0\FbData\Polytex.fdb" type="FilePath" filetype="fdb" category="Database" description="Database file path and name" Path="FbData\Polytex.fdb" Embedded="True" />
	<DataBaseEmbedded value="False" type="Boolean" category="Database" description="Is database embedded" />
	<DataBasePort value="3051" type="UInt" category="Database" description="Database connection port" Advanced="True" />
	
	<!-- POLYTEX MANAGER PARAMETERS -->
	<DefaultCSVEncoding value="1255" type="Int" category="Polytex Manager" description="Encoding for CSV (Excel) files" />
	<HRManagerChangeBalances value="False" type="Boolean" category="Polytex Manager" description="Can Polytex Manager's HR Manager users change users' balances" />
	<ReverseTightDirection value="True" type="Boolean" category="Polytex Manager" description="" />
	<RecordsOnPage value="10" type="UInt" category="Polytex Manager" description="Number of data records displayed on a page. " />
	<RecordsOnReport value="10" type="UInt" category="Polytex Manager" description="Number of data records displayed on a report. " />	
	<MaxReportPages value="10" type="UInt" category="Polytex Manager" description="Maximum pages displayed for a report" />
	<SendReportsFileFormat value="2" type="Select" options="(1)Excel|(2)HTML" category="Polytex Manager" description="Reports' file format when sent to mailing lists" />
	<WebRoot value="WebManager" type="Folder" category="Polytex Manager" description="Web Manager's root folder" />
	<AllowAutoUsersDisable value="True" type="Boolean" category="Polytex Manager" description="Display Enable/Disable all users buttons on Users screen's toolbar" />
	<DisplayCardsManager value="True" type="Boolean" category="Polytex Manager" description="Display Cards Manager screen" Advanced="True" />
	<UsersLookupType value="2" type="Select" options="(1)[1]Client side|(2)[2]Server side" category="Polytex Manager" description="Users lookup display mode. For a system with up to a few thousand users use Client side." Advanced="True" />
	<Permissions category="Polytex Manager" description="Manager user types" allowremove="false" displaynameattribute="UniTag" MaxInactiveSessiontype="UInt" MaxInactiveSessiondescription="After how many minutes of being inactive a Polytex Manager's user is automaticaly logged out. (Set to 0 to disable auto log out)">
		<Permission ID="0" UniTag="SU_Permission_Unidentified" MaxInactiveSession="1" />
		<Permission ID="1" UniTag="SU_Permission_Administrator" MaxInactiveSession="0" />
		<Permission ID="2" UniTag="SU_Permission_StoreKeeper" MaxInactiveSession="60" />
		<Permission ID="3" UniTag="SU_Permission_HRManager" MaxInactiveSession="60" />
		<Permission ID="4" UniTag="SU_Permission_Laundry" MaxInactiveSession="60" />
	</Permissions>
	
	<!-- STATIONS PARAMETERS -->
	<StationsSync value="18:12" type="Time" category="Stations" description="Time of daily station synchronization. HH:mm format" />	
	<StationsSyncDelay value="1000" type="UInt" category="Stations" description="Delay between each station's sync initiation [in seconds]" />
	<StationsSyncMaxUsers value="30000" type="UInt" category="Stations" description="Maximum number of users a controller can support while in offline" />
	<ExecuteSyncAlways value="True" type="Boolean" category="Stations" description="Always execute stations syncronization regardless of data change" />
	<SyncOnlyActiveUsers value="False" type="Boolean" category="Stations" description="Sync only users who have orders" Advanced="True" />
	<SyncActiveUsersPeriod value="90" type="UInt" category="Stations" description="Active users - who have orders in the last X days" Advanced="True" />
	<DisallowUserActionTimeout value="20" type="UInt" category="Stations" description="Minimum time for a user between using different stations [in seconds]" />	
	<StationMenuMaxItemsGroup value="6" type="UInt" category="Stations" description="Maximum number of items groups on a station's menu" />
	<MAC_Prefix value="0400A0" type="String" category="Stations" description="Prefix for station's MAC address must be specified in the displayed order (MSB). ie. for 01-02-03- the value should be '010203'" />
	<!--
	StationModels:
	station type:1 - dispatch, station type:2 return
	format:
		dispatch:
			ID - model ID
			name = model name
			width - station width
			height - station height
			CodePageId - (integer) code page
			UseTightEncoding - true/false, default: false
		return:
			ID - model ID
			name - model name
			CodePageId - (integer) code page
			UseTightEncoding - true/false, default: false
		all:
			CodePageId - if negative then AjustedEncoding is used for the specified abs(CodePageId)
-->
	<StationModels category="Stations" description="Available station model types" allowremove="false" displaynameattribute="name" widthtype="UInt" heighttype="UInt" typetype="Select" typeoptions="(1)Dispensing|(2)Return" CodePageIdtype="Int" UseTightAscii7Encodingtype="Boolean" MaxItemstype="UInt" CellStartCounttype="Select" CellStartCountoptions="(0)Bottom to top|(1)Top to bottom" widthdescription="Number of cell columns NewLine[DISPENSING STATIONS SETTING ONLY]" heightdescription="Number of cell rows NewLine[DISPENSING STATIONS SETTING ONLY]" UseTightAscii7Encodingdescription="[DISPENSING STATIONS SETTING ONLY]" MaxItemsdescription="Maximum capacity for items NewLine[RETURN STATIONS SETTING ONLY]" CellStartCountdescription="Cells Ids increment direction">
		<model ID="1" name="D-20HE" width="10" height="2" type="1" CodePageId="-1255" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="2" name="D-20EN" width="10" height="2" type="1" CodePageId="850" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="3" name="D-20EU" width="10" height="2" type="1" CodePageId="1252" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="4" name="D-16EN" width="8" height="2" type="1" CodePageId="850" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="5" name="D-16HE" width="8" height="2" type="1" CodePageId="-1255" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="6" name="D-16EU" width="8" height="2" type="1" CodePageId="1252" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="7" name="D-10EN" width="5" height="2" type="1" CodePageId="850" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="8" name="D-10HE" width="5" height="2" type="1" CodePageId="-1255" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="9" name="D-10EU" width="5" height="2" type="1" CodePageId="1252" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="10" name="D-10XEN" width="5" height="2" type="1" CodePageId="850" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="11" name="D-10XHE" width="5" height="2" type="1" CodePageId="-1255" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="12" name="D-10XEU" width="5" height="2" type="1" CodePageId="1252" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="13" name="R-100HE" type="2" CodePageId="-862" MaxItems="100" width="" height="" UseTightAscii7Encoding="" />
		<model ID="14" name="R-100EN" type="2" CodePageId="850" MaxItems="100" width="" height="" UseTightAscii7Encoding="" />
		<model ID="15" name="R-100EU" type="2" CodePageId="-850" MaxItems="100" width="" height="" UseTightAscii7Encoding="" />
		<model ID="16" name="R-300HE" type="2" CodePageId="-862" MaxItems="300" width="" height="" UseTightAscii7Encoding="" />
		<model ID="17" name="R-300EN" type="2" CodePageId="850" MaxItems="300" width="" height="" UseTightAscii7Encoding="" />
		<model ID="18" name="R-300EU" type="2" CodePageId="-850" MaxItems="300" width="" height="" UseTightAscii7Encoding="" />
		<model ID="19" name="R-100XHE" type="2" CodePageId="-862" MaxItems="5000" width="" height="" UseTightAscii7Encoding="" />
		<model ID="20" name="R-100XEN" type="2" CodePageId="850" MaxItems="5000" width="" height="" UseTightAscii7Encoding="" />
		<model ID="21" name="R-100XEU" type="2" CodePageId="-850" MaxItems="5000" width="" height="" UseTightAscii7Encoding="" />
		<model ID="22" name="D-24HE" width="12" height="2" type="1" CodePageId="-1255" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="23" name="D-12HE" width="6" height="2" type="1" CodePageId="-1255" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="24" name="DS-1001HE" width="10" height="10" type="1" CodePageId="-1255" CellStartCount="1" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="25" name="D-300HE" width="12" height="4" type="1" CodePageId="-1255" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="26" name="D-300EN" width="12" height="4" type="1" CodePageId="850" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="27" name="D-300EU" width="12" height="4" type="1" CodePageId="1252" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="28" name="D-200HE" width="6" height="4" type="1" CodePageId="-1255" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="29" name="D-200EN" width="6" height="4" type="1" CodePageId="850" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="30" name="D-200EU" width="6" height="4" type="1" CodePageId="1252" CellStartCount="0" UseTightAscii7Encoding="false" MaxItems="" />
		<model ID="100" name="Dw" type="1" width="12" height="3" CellStartCount="0" CodePageId="" UseTightAscii7Encoding="" MaxItems="" />			
		<model ID="200" name="Rw" type="2" MaxItems="120" CodePageId="" width="" height="" CellStartCount="" UseTightAscii7Encoding="" />
		
	</StationModels>
	
	<!-- ITEMS PARAMETERS -->
	<ItemGroupNameMaxSize value="9" type="UInt" category="Items" description="Maximum length of an item group's name [in characters]" />
	<ItemNameMaxSize value="4" type="UInt" category="Items" description="Maximum length of an item's name [in characters]" />
	<StationUpdatesRfid value="True" type="Boolean" category="Items" description="On station item dispense, update RFID tag's item." Advanced="True" />
	
	<!-- LIMITS PARAMETERS -->
	<MaxFavoriteItems value="4" type="Int" category="Limits" description="Maximum favorite items allowed for a user. Set to -1 for unlimited" />	
	<UseSimpleLimitsPolicy value="True" type="Boolean" category="Limits" description="" />
	<AllowNegativeItemsAmount value="True" type="Boolean" category="Limits" description="Allow user's items balance to go below 0" />
	<DoAutoItemsAmountReset value="True" type="Boolean" category="Limits" description="Perform daily automatic reset of users' items amounts whom have returned more items than taken (set to False recommended)" />
	<AutoItemsAmountResetTime value="09:40" type="Time" category="Limits" description="Time of daily auto items amount reset. HH:mm format" />
	<DoRenewItemsBalance value="True" type="Boolean" category="Limits" description="Daily renewal of cards items balance to maximum. Leave set to False is recommended." Advanced="True" />
	<RenewItemsBalanceTime value="00:01" type="Time" category="Limits" description="Time of daily renewal of cards items balance to maximum. HH:mm format" Advanced="True" />	
	<PeriodicLimitsCycleStartHour value="5" type="UInt" category="Limits" description="Daily start hour of 6, 8 and 12 hourly periodic limits cycle. Value can range from 0 to 12 (which are 00:00 midnight to 12:00 noon respectively)" />
	<CreditsDownOnDispense value="1" type="UInt" category="Limits" description="Credits value to take off items balance on a dispense transaction. Default value is 1." Advanced="True" />
	<AllowReturnAllItems value="True" type="Boolean" category="Limits" description="Can user return items on all return stations" Advanced="True" />
	<LimitPeriodTypes category="Limits" description="Periodic limits types" allowremove="false" displaynameattribute="UniTag">
		<LimitPeriodType ID="1" UniTag="LimitPeriodType_Day" />
		<LimitPeriodType ID="2" UniTag="LimitPeriodType_Week" />
		<LimitPeriodType ID="3" UniTag="LimitPeriodType_Month" />
		<LimitPeriodType ID="4" UniTag="LimitPeriodType_Credit" />
		<LimitPeriodType ID="5" UniTag="LimitPeriodType_6_Hours" />
		<LimitPeriodType ID="6" UniTag="LimitPeriodType_8_Hours" />
		<LimitPeriodType ID="7" UniTag="LimitPeriodType_12_Hours" />
		<LimitPeriodType ID="8" UniTag="LimitPeriodType_1_Hour" />
		<LimitPeriodType ID="9" UniTag="LimitPeriodType_2_Hours" />
		<LimitPeriodType ID="10" UniTag="LimitPeriodType_4_Hours" />
	</LimitPeriodTypes>
	
	<!-- ALERTS PARAMETERS -->
	<SmsProvider value="4" type="Select" options="(1)Shamir-inforu|(2)Data+|(3)Vodafone|(4)Shamir-inforu2" category="Alerts" description="SMS provider for Polytex alerts" />
	<AlertTypes category="Alerts" description="Alerts types" allowremove="false" displaynameattribute="UniTag" LastCodetype="UInt">
		<Alert ID="1" UniTag="AlertType_All" FirstCode="0" LastCode="256" SubjectUniTag="AlertMessage_All_Subject" BodyUniTag="AlertMessage_All_Body" />
		<Alert ID="2" UniTag="AlertType_Operational" FirstCode="0" LastCode="16" SubjectUniTag="AlertMessage_Operational_Subject" BodyUniTag="AlertMessage_Operational_Body" />
		<Alert ID="3" UniTag="AlertType_System" FirstCode="16" LastCode="64" SubjectUniTag="AlertMessage_System_Subject" BodyUniTag="AlertMessage_System_Body" />
		<Alert ID="4" UniTag="AlertType_Internal" FirstCode="64" LastCode="224" SubjectUniTag="AlertMessage_Internal_Subject" BodyUniTag="AlertMessage_Internal_Body" />
		<Alert ID="5" UniTag="AlertType_Message" FirstCode="224" LastCode="256" SubjectUniTag="AlertMessage_Message_Subject" BodyUniTag="AlertMessage_Message_Body" />
		<Alert ID="6" UniTag="AlertType_Critical" FirstCode="0" LastCode="0" SubjectUniTag="AlertMessage_Critical_Subject" BodyUniTag="AlertMessage_Critical_Body" />
	</AlertTypes>
	<MailingListTransports category="Alerts" description="Available transport types for alerts" allowremove="false" displaynameattribute="UniTag">
		<Transport ID="1" UniTag="MailingListTransport_Email" />
		<Transport ID="2" UniTag="MailingListTransport_SMS" />
	</MailingListTransports>
	<AlertRfidReadingRate value="80" type="UInt" category="Alerts" description="Maximum percentage of RFID reading by station which triggers a daily alert" />
	<AlertCameraImagesRate value="80" type="UInt" category="Alerts" description="Maximum percentage of camera images by station which triggers a daily alert" />
  <AlertItemNotDeliveredRate value="10" type="UInt" category="Alerts" description="Minimum percentage of station item wasn't delivered alerts out of station transactions which triggers a daily alert" />
  <AlertCounterMismatch value="100" type="UInt" category="Alerts" description="Minimum difference between database station order id and recieved station order id to issue an alert" />
  <MaskItemOutOfStockData value="True" typr="Boolean" category="Alerts" description="Scramble alert data for alert 0x0550" Advanced="True" />
  
  <!-- CARD NUMBER FORMAT PARAMETERS -->
	<CardIdFullLength value="8" type="UInt" category="Card Number Format" description="Number of characters on a user's card" />
	<CardGroupStartIndex value="0" type="UInt" category="Card Number Format" description="Start index of group on user's card" />
	<CardGroupChars value="00" type="String" category="Card Number Format" description="The group characters string on user's card" />
	<CardNumStartIndex value="2" type="UInt" category="Card Number Format" description="Start index of card num on user's card" />
	<CardNumCharsLength value="6" type="UInt" category="Card Number Format" description="Number of characters of card num on user's card" />
	<!-- CREDIT CARD MODE PARAMETERS -->
	<LiveTerminal value="False" type="Boolean" category="Credit Card Mode" description="Are credit cards realy charged with a live terminal. If false hard coded demo values are sent." />
	<BillingProvider value="2" type="Select" options="(1)MyrComm|(2)Pelecard" category="Credit Card Mode" description="Credit cards billing service provider" />
	<WebServiceUrl1 value="https://secure.hadassim.com/myrcomm/MTService.svc" type="String" category="Credit Card Mode" description="Credit cards web service url 1" />
	<WebServiceUrl2 value="https://secure1.hadassim.com/myrcomm/MTService.svc" type="String" category="Credit Card Mode" description="Credit cards web service url 2" />
	<PeriodLength value="2" type="UInt" category="Credit Card Mode" description="Length of period [in minutes]" />
	<PeriodsMaxCharge value="2" type="UInt" category="Credit Card Mode" description="Maximum periods to charge a credit card for an unreturned item before an item is considered as unreturned. First dispensing credit charging action included in this value" />
	<PeriodsUnreturnedCharge value="10" type="UInt" category="Credit Card Mode" description="Number of periods to charge for a 'stolen' item. Used to calculate fine: item price * value" />
	<MaxChargeUnreturned value="0" type="Decimal" category="Credit Card Mode" description="Maximum possible charge sum. Used for credit card authentication only" />
	<BillingServiceTimeout value="20" type="UInt" category="Credit Card Mode" description="Polytex server waiting timeout for billing provider service response [in seconds]" />
	<BillingServiceWakeUp value="20" type="UInt" category="Credit Card Mode" description="Maximum time period before sending a wake up request to the billing provider [in minutes]. To disable set to 0." />
	<TightEncodeFrom value="אבגדהוזחטיךכלםמןנסעףפץצקרשת" />
	<TightEncodeTo value="abcdefghijklmnopqrstuvwxyz{" />
	<!-- CONTACT DETAILS PARAMETERS -->
	<DistributorName value="Polytex Technologies Ltd." type="String" category="Contact Details" description="Company name of local distributor" />
	<DistributorPhone value="+972-(0)4-6333142" type="String" category="Contact Details" description="Support phone number" />
	<DistributorEmail value="support@polytex.co.il" type="String" category="Contact Details" description="Support e-mail address" />
	<DistributorSite value="www.polytex.co.il" type="String" category="Contact Details" description="Distributor web site (set without http://)" />
</root>