<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>    
    
  </connectionStrings>
      
  <appSettings>
    <add key="Version" value="1.0.0.0" />
    <add key="DateMinYear" value="1901" />
    <add key="DateMaxYear" value="2100" />
    <add key="UseSimpleLimitsPolicy" value="True" />
  </appSettings>
  <system.web>
    <trace enabled="false" pageOutput="true" requestLimit="100" />
    <httpRuntime maxRequestLength="30720" executionTimeout="900"></httpRuntime>
    <customErrors mode="Off"></customErrors>
    <sessionState mode="Off" cookieless="false" />
    <authentication mode="Forms" />
    <identity impersonate="false" />
    <compilation debug="true" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages theme="PolyPage" buffer="true">
      <controls>
        <add tagPrefix="Polytex" namespace="PolytexControls" assembly="PolytexControls" />
      </controls>
    </pages>
  </system.web>
</configuration>
